<div class="game-cover">
  <div class="banner-center">
    <h1>Your Score</h1>
  </div>
</div>

<div class="information container text-center">
  <div class="score">
    <p>Your word: <%= @word %></p>
    <hr>
    <p>Time taken: <%= @timer %> seconds</p>
    <hr>
    <p>Letters: <%= @grid %></p>
    <hr>
    <p>Score: <%= @calcscore %></p>
    <hr>
    <a href="/game/game"><button class="btn btn-primary">Try again</button></a>
  </div>
</div>


